@charset "UTF-8";
a {
  text-decoration: underline;
  color: #FFF;
  cursor: pointer; }

a:hover {
  color: #E6E6E6;
  -webkit-transition: all 0.2s ease-in-out;
          transition: all 0.2s ease-in-out; }

body {
  font-size: 17px;
  line-height: 1.4;
  font-family: "franklin-gothic-urw", sans-serif;
  color: #666666;
  -webkit-font-smoothing: antialiased; }

html {
  font-size: 17px; }

* {
  box-sizing: border-box; }

.intro {
  font-size: 2.4rem;
  line-height: 1.4;
  font-family: "kulturista-web", serif;
  text-align: center;
  margin-top: 1.8rem;
  padding-bottom: 2rem; }

.primary-text {
  color: #00B598; }

.logo {
  text-transform: uppercase;
  font-family: "kulturista-web", serif;
  text-decoration: none;
  font-size: 1.4rem;
  color: #666666;
  font-weight: 400; }

.section-title {
  text-align: center;
  margin: auto;
  font-size: 2.4rem;
  font-family: "kulturista-web", serif;
  position: relative;
  margin-bottom: 2rem; }
  .section-title::after {
    content: '';
    display: block;
    position: absolute;
    bottom: -10px;
    background-color: rgba(0, 0, 0, 0.2);
    width: 60px;
    height: 3px;
    margin-left: -30px;
    left: 50%; }

.work-quote {
  margin-top: 1rem;
  font-size: 1.4rem;
  max-width: 600px;
  margin: auto;
  padding-left: 0;
  position: relative;
  padding-top: .6rem; }
  .work-quote::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    background-color: rgba(0, 0, 0, 0.2);
    width: 90px;
    height: 6px;
    left: 0; }

.btn {
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 600;
  padding: .8rem 2rem;
  display: inline-block;
  border-radius: 4px;
  line-height: 1;
  vertical-align: middle;
  border: none;
  font-size: 1rem;
  text-shadow: none;
  -webkit-font-smoothing: antialiased; }

.btn__primary {
  background: #00B598;
  color: white; }
  .btn__primary:hover {
    color: #FFF;
    background: #009c83;
    -webkit-transition: all 0.2s ease-in-out;
            transition: all 0.2s ease-in-out; }

.site-header {
  padding-top: 1.5rem; }
  .site-header .columns {
    border-bottom: 2px solid #e6e6e6;
    padding-bottom: 1.5rem; }
    .site-header .columns .logo:hover {
      color: #666666; }
    .site-header .columns .hire {
      float: right;
      margin-top: -5px;
      text-decoration: none; }

.illo {
  margin-top: 2rem; }

.showcase {
  background: #00B598;
  color: white;
  padding: 2rem; }

.work-display {
  text-align: center; }
  .work-display img {
    width: 80%;
    margin-bottom: 0;
    display: block;
    margin: auto;
    margin-bottom: 2rem; }
  .work-display p {
    text-align: left;
    color: white; }
  .work-display .button {
    margin-top: 2rem;
    background: white;
    color: #00B598;
    font-size: 1.2rem;
    padding: .7rem 2rem;
    border: none;
    line-height: 1.4;
    height: auto; }

.clients {
  padding-top: 2rem;
  padding-bottom: 2rem;
  text-align: center; }
  .clients h3 {
    font-size: 1.6rem;
    font-family: "kulturista-web", serif;
    margin-bottom: 3.8rem; }
  .clients img {
    width: 120px; }
  .clients .sam {
    width: 80px;
    margin-top: -35px; }
  .clients .exo {
    margin-top: 10px;
    width: 140px; }
  .clients .message {
    width: 80px;
    margin-top: -5px;
    margin-left: -20px; }
  .clients .carbon {
    margin-top: 10px; }

.about-me {
  background: whitesmoke;
  position: relative;
  padding: 2rem 0; }
  .about-me .flush-image {
    position: absolute;
    width: 50%;
    left: 0; }
  .about-me .about-content {
    float: right; }
    .about-me .about-content h3 {
      font-size: 2.6rem;
      font-family: "kulturista-web", serif;
      position: relative;
      color: #4d4d4d;
      margin-bottom: 1rem;
      margin-top: 0;
      padding-top: 0; }
    .about-me .about-content p {
      margin-bottom: 1.4rem; }

.get-help {
  padding-top: 4rem;
  padding-bottom: 2rem; }
  .get-help .quote {
    font-style: italic;
    font-family: "kulturista-web", serif;
    font-size: 2.9rem;
    font-weight: 100;
    margin-bottom: .8rem; }
  .get-help h5 {
    font-size: 1.3rem;
    padding-top: 0;
    margin-top: 0; }
  .get-help .quote-container {
    border-left: 8px solid #00B598;
    padding-left: 38px;
    position: relative; }
    .get-help .quote-container:after {
      content: "“";
      position: absolute;
      font-size: 8rem;
      font-family: "Impact";
      color: rgba(0, 181, 152, 0.3);
      top: -40px;
      left: 10px;
      font-style: italic; }

.site-footer {
  background: #00826d;
  padding: 1.4rem;
  color: white; }
  .site-footer .logo {
    color: white;
    color: rgba(255, 255, 255, 0.9); }
  .site-footer .social {
    display: inline-block;
    float: right;
    text-align: right; }
    .site-footer .social:hover a {
      opacity: 0.7; }
    .site-footer .social a {
      text-decoration: none; }
    .site-footer .social i {
      margin-left: 1rem;
      margin-right: .2rem; }
    .site-footer .social a:hover {
      opacity: 1;
      color: white; }

.modal-open {
  overflow: hidden; }

.modal {
  display: none;
  overflow: auto;
  overflow-y: scroll;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  background: rgba(67, 67, 67, 0.8); }

.modal.fade .modal-dialog {
  -webkit-transform: translate(0, -25%);
      -ms-transform: translate(0, -25%);
          transform: translate(0, -25%);
  -webkit-transition: -webkit-transform 0.3s ease-out;
          transition: transform 0.3s ease-out; }

.modal.in .modal-dialog {
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0); }

.modal-dialog {
  position: relative;
  width: auto;
  margin: 10px;
  z-index: 1050; }

.modal-content {
  text-align: center;
  position: relative;
  border-radius: 6px;
  background-clip: padding-box;
  outline: none;
  background: #FFF;
  padding: 5% 8%; }
  .modal-content h2 {
    font-size: 3rem; }
  .modal-content .links {
    width: 60%;
    margin: 0 auto;
    margin-bottom: 10%; }

.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1030; }

.modal-backdrop.fade {
  display: none; }

.modal-backdrop.in {
  display: none; }

@media screen and (min-width: 550px) {
  .modal-dialog {
    width: 550px;
    padding: 20px;
    margin: 0 auto; } }
@media screen and (min-width: 768px) {
  .modal-dialog {
    width: 700px;
    padding: 50px;
    margin: 30px auto; } }

.modal {
  text-align: center; }
  .modal h2 {
    color: #00B598; }
  .modal .links a {
    color: #666; }
  .modal .links a:hover {
    color: #333333; }
  .modal .button {
    margin-top: 2rem;
    background: white;
    color: #00B598;
    font-size: 1.2rem;
    padding: .7rem 2rem;
    border: none;
    line-height: 1.4;
    height: auto; }
