.btn {
	text-transform: uppercase;
    text-decoration: none;
    font-weight: 600;
    padding: .8rem 2rem;
    display: inline-block;
    border-radius: 4px;
    line-height: 1;
    vertical-align: middle;
    border: none;
    font-size: 1rem;
    text-shadow: none;
    -webkit-font-smoothing: antialiased;
}

.btn__primary {
    background: $color-primary;
    color: white;

    &:hover {
        color: #FFF;
        background: darken($color-primary, 5%);
        transition: all 0.2s ease-in-out;
    }
}