.clients {
	padding-top: 2rem;
	padding-bottom: 2rem;
	h3 {
		font-size: 1.6rem;
		font-family: $font-family-heading;
		margin-bottom: 3.8rem;
	}
	img {
		width: 120px;
	}
	.sam {
		width: 80px;
		margin-top: -35px;
	}
	.exo {
		margin-top: 10px;
	}
	.pancake {
		margin-top: 10px;
	}
	.carbon {
		margin-top: 10px;
	}
}