.site-footer {
	background: darken($color-primary, 10);
	padding: 1.4rem;
	color: white;
	.logo {
		color: white;
		color: rgba(white, .9);
	}
	.social {
		display: inline-block;
		float: right;
		text-align: right;

		&:hover a {
			opacity: 0.7;
		}

		a {
			text-decoration: none;
		}

		i {
			margin-left: 1rem;
			margin-right: .2rem;
		}

		a:hover {
			opacity: 1;
			color: white;
		}
	}
}