---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Chad Tomkiss">
  <main>
    <h1>Chad Tomkiss</h1>
    <p>Hi there! I'm Chad, a software engineer based in Manchester, UK.</p>
    <p>
      I've worked for companies like <a href="https://getstark.co">Stark</a>,
      <a href="https://www.madetech.com/">Made Tech</a> and <a
        href="https://thebotplatform.com/">The Bot Platform</a
      >.
    </p>
    <p>
      You can find me on <a href="https://twitter.com/chadtomkiss">Twitter</a>,
      <a href="https://github.com/chadtomkiss">GitHub</a> or email me at <script
        type="text/javascript"
      >
        document.write(atob("aGVsbG9AY2hhZHRvbWtpc3MuY28udWs="));
      </script>
    </p>
    <h2>Working with me</h2>
    <p>
      I like to bring calm to the chaos. Outages can be a learning experience
      and committing to less enables you to move faster.
    </p>
    <p>
      You'll find I try to be a first responder when people ask for help, unless
      I'm protecting my time for deep work.
    </p>
    <p>
      My code reviews are a blend of education and praise with blocking as an
      extremity.
    </p>
    <p>
      Not everything needs to be high quality, but I strive to leave things
      better than I found them.
    </p>
    <h2>About</h2>
    <p>
      I like being outdoors, running with my local running club <a
        href="https://kerbrunners.com">Kerb Runners</a
      > or taking Henry, our 3 year old spaniel on a long walk. I love to relax by
      reading a good book, playing games or building Lego. My favourite shows tend
      to be anime, sci-fi or crime.
    </p>
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1rem;
    width: 800px;
    max-width: calc(100% - 2rem);
    color: #36454f;
    font-size: 20px;
    line-height: 1.6;
  }

  h1 {
    font-size: 4rem;
    font-weight: 700;
    line-height: 1;
    text-align: left;
    margin-bottom: 1em;
  }
</style>
